<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">

            <h4 class="card-title">
                <a th:href="@{/form}" class="btn btn-primary btn-xs">crear
                    cliente</a>
            </h4>
            <table class="table table-striped table-bordered">
                <thead class="thead-inverse">
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>fecha</th>
                    <th>crear factura</th>
                    <th>editar</th>
                    <th>eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td><a class="btn btn-primary btn-xs"
                           th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.createAt}"></td>
                    <td><a class="btn btn-success btn-xs"
                           th:href="@{'/factura/form/' + ${cliente.id}}"
                           th:text="'crear factura'"></a></td>
                    <td><a class="btn btn-primary btn-xs"
                           th:href="@{/form/} + ${cliente.id}" th:text="'editar'"></a></td>
                    <td><a class="btn btn-danger btn-xs"
                           th:href="@{/eliminar/} + ${cliente.id}" th:text="'eliminar'"
                           onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
                </tr>
                </tbody>

            </table>
            <nav th:replace="paginator-nav :: paginator"></nav>
        </div>
    </div>


</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>